body{
    background-color: #9dd7e6;
  }
  
  .logoalura{
  margin: 40px;
  }
  
  main{
    margin-left: 40px;
  }

  .TextAreas{
    display: inline-flex;
    margin: 0 auto;
    margin-top: 20px;
  }

  #ingText{
    padding: 12px;
    font-size: 15px;
  }

  .answer{
    padding: 12px;
    margin-left: 70px;
    font-size: 15px;
  }